@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;

}

/* beautiful flower starts here */

.beautiful-flowers-container{
    max-width: 1920px;
    min-height: 850px;
    background: rgba(229, 84, 115, 0.1);
    margin: 0 auto;
    display: flex;
    padding: 50px;
    
}

.beautiful-flowers-content{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    padding:80px
}

.beautiful-flowers-content h1{
    width: 708px;
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: 0%;
    text-align: left; 
    margin-bottom: 32px;  

}

.beautiful-flowers-content p{
    width: 634px;
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 32px;
    
}

.beautiful-flowers-content button{
    
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding: 20px 43px 20px 43px;
    text-align: left;
    border: none;
    

}

.beautiful-flowers-img{
    width: 635px;
    height: 800px;
    margin: 0 auto;
}






